
.grid-page {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  /* 
  divide o grid em 2 colunas:
     - sidebar com largura fixa de 300px
     - main ocupando o restante do espaço disponível 
     - quando as colunas são iguais, o grid se ajusta automaticamente
       para preencher o espaço disponível 
  */
  grid-template-columns: 20% 1fr;
  /* Ajusta a altura do header, main e footer automaticamente */
  /* Deixa o main ocupando todo o espaço disponível e o header/footer conforme o conteúdo */
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  min-height: 100vh;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  padding: 0 10%;
  /* justify-items: stretch;    eixo horizontal */
  /* align-items:end;           eixo vertical   */
}



/* body{
  // background-color: #333; 
}
.wrapper {
  // max-width: 1200px;  /* Ou 80%, por exemplo 
  // margin: 0 auto;     /* Centraliza horizontalmente 
  // padding: 0 20px;    /* Pequena folga lateral em telas pequenas 
  // /* background-color: #fcf8db; 
  // background-color: #444;
} */

.header {
  grid-area: header;
  background: #444;
  padding: 20px;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

.sidebar {
  grid-area: sidebar;
  background: #333;
  padding: 20px;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.main {
  grid-area: main;
  background: #555;
  padding: 20px;
  border-radius: 5px;

}

.produtos-grid {
  display: grid;
  /* Cria colunas automáticas: cada item terá no mínimo 150px
  e se expandirá igualmente até preencher o espaço disponível */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.produto {
  background: teal;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  height:400px;
}

.footer {
  grid-area: footer;
  background: #444;
  text-align: center;
  padding: 10px;
  border-radius: 5px;

}

@media (max-width: 768px) {
  .grid-page {
    grid-template-columns: 20% 1fr; /* 1 coluna só */
    padding: 1%;
    gap: 5px;
  }

  .sidebar {
    padding: 5px;
    font-size: 10px;
  }

  .header {
    font-size: 20px;
  }

  .main{
    font-size: 12px;
  }

  .produtos-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .produto {
    padding: 10px;
    height: 200px;
  }
}