sreact/curso-react/primeiro-app/public/logo192.png
react/curso-react/primeiro-app/public/logo512.png
react/curso-react/primeiro-app/public/manifest.json
react/curso-react/primeiro-app/public/robots.txt
react/curso-react/primeiro-app/package-lock.json
react/curso-react/primeiro-app/package.json
react/curso-react/primeiro-app/README.md
react/curso-react/primeiro-app/public/favicon.ico
projetos-cursos/prime-flix/public/robots.txt
projetos-cursos/prime-flix/public/logo512.png
projetos-cursos/prime-flix/public/logo192.png
projetos-cursos/prime-flix/public/favicon.ico

