body {
  background-color: #222;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.topo {
  text-align: center;
  padding: 20px;
  background-color: #444;
}

.conteudo {
  padding: 20px;
  border: 5px solid white;
}

.pagina {
  display: flex;
}

.filtros {
  width: 15%;
  background-color: #333;
  padding: 10px 20px;
  /* border:solid 2px white; */
}

.filtros p{
  cursor:pointer;
}
/* .filtros h2{
  margin: 0;
} */

.produtos {
  width: 70%;
}

.espaco-vazio {
  width: 15%;
}

.container {
  display: flex;           
  gap: 20px;               /* Espaço entre os quadrados */
  flex-wrap: wrap;         /* Permite quebrar linha */
  justify-content: center; /* Alinha horizontalmente */
  /* flex-direction: column; */
  /* max-height: 600px; */
  align-items: flex-start;
}

.box {
  width: 220px;
  height: 300px;
  background-color: teal;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  font-size: 24px;
  color: white;
  border: 2px solid white;
  /* border-radius: 8px; */
  /* flex:1; */ /* Isso faz com que os quadrados cresçam para ocupar o espaço disponível */
}

/* ---------- Filtros ------------ */
.filtro {
  margin-bottom: px;
  padding: 10px;
}

.filtro-titulo {
  width: 100%;
  background-color: #333;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  font-size: 1.1em;
  border-bottom: 1px solid #555;
  padding-bottom: 5px;
}

.filtro-conteudo {
  list-style: none;
  padding: 10px;
  margin: 0;
  /* display: none;  Esconde inicialmente */
}

.filtro-conteudo li {
  margin: 5px 0;
}

.filtro-conteudo a{
  color: white;
  text-decoration: none;
}

/* Remove marcador padrão */
.filtro summary {
  list-style: none;                /* Remove bolinha do Firefox */
}

/* Seta personalizada com CSS puro */
.filtro-titulo::before {
  content: "";
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
  margin: 0px 10px;
}

/* Quando abre (seta gira) */
.filtro[open] .filtro-titulo::before {
  transform: rotate(45deg);
}






