body{
    background-color: black;
    color: white;
    margin: px;
}

.topo {
  position: relative;
  height: 60px;
  background-color: #333;
  border: 3px solid red;
  padding: 20px;
  display: flex;
  align-items: center;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  margin: 0;
  border: 3px solid red;
}

.menu {
  margin-left: auto; /* empurra o menu para a direita */
  display: flex;
  gap: 30px;
  border: 3px solid red;
}

.menu a {
  color: white;
  text-decoration: none;
  border: 3px solid red;
}
